$font-sans: 'Arial', 'Helvetica', sans-serif;

$col-bg: white;
$col-shadow: gray;

$col-text-dark: black;
$col-text-light: white;
$col-text-gray: #606060;

$col-blue: rgb(000,117,189);
$col-blue-light: rgb(100,160,200);
$col-blue-lighter: rgb(152,198,234);
$col-green: rgb(008,196,134);
$col-orange: rgb(231,115,38);

$col-arrows: rgb(008,196,134);

// for overview page
$col-greener: rgb(0,128,0);
$col-coral: coral;
$col-grey: grey;
$col-gold: rgb(255,205,0);