@import "_variables.scss";


main {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);


    .text-block {
        position: relative;
        padding: 100px 20px;

        h1 {
            font-size: 1.6em;
        }

    }

    .papers {

        // background: lightblue;
        p {
            font-size: 1.2em;

            .authors {
                &::after {
                    content: ',';
                }
            }

            .title {
                font-style: italic;
                font-size: 1em;
            }
        }
    }

    .contributions {

        // background: lightcoral;
        .profile {
            font-size: 1.2em;
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-gap: 10px;
            height: 50px;
            margin-bottom: 10px;
            line-height: 1.2em;

            .pic {
                background: gray;
            }

            .desc {
                vertical-align: center;

                .name {
                    font-weight: 600;

                    &::after {
                        content: ' (ESTL),';
                    }
                }

                .position {
                    font-size: .8em;
                }

                .role {
                    font-size: .9em;
                }
            }
        }

        #lamprecht {
            .pic {
                background: url('../img/lamprecht.jpg') center no-repeat;
                background-size: contain;
            }
        }

        #gaba {
            .pic {
                background: url('../img/gaba.jpg') center no-repeat;
                background-size: contain;
            }
        }

        #roetzer {
            .pic {
                background: url('../img/roetzer.jpg') center no-repeat;
                background-size: contain;
            }
        }
    }

    .acknowledgement {
        position: absolute;
        bottom: 20px;
        width: 60%;
        margin-top: 200px;

        .text {

            h3 {
                padding: 0 20px;
                margin: 0;
            }

            p {
                padding: 5px 20px;
                margin: 0;
            }
        }
    }

    .logos {
        position: absolute;
        bottom: 20px;
        width: 100%;
        height: 60px;
        float: right;

        .ntu {
            float: right;
            background: url('../img/logo_ntu.png') right no-repeat;
            background-size: contain;
            height: 100%;
            width: 180px;
        }

        .tum {
            float: right;
            background: url('../img/logo_tum.png') center no-repeat;
            background-size: contain;
            height: 100%;
            width: 180px;
            margin-left: 30px;
            margin-right: -50px;
        }
    }
}