@import "_variables.scss";

main{
	position: relative;
	.section1 {
		float: left;
		background-color: white;
		height: 100%;
		width:75%;
		
		.pack{
			position: relative;
			margin: auto;
			display: grid;
			grid-column-gap: 50px;
			-ms-grid-columns: (1fr)[3];
			grid-template-columns: repeat(3,1fr);
			height: 100%;
			width: 100%;

			.cell{
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				padding: 20px;

				.celloutline{
					position: relative;
					max-width:100%;
					min-width: 70%;
					height: 80%;
					border: 2px solid black;
					background: url(../img/grey-linen-texture-background_1053-253.jpg) fixed center;

					.batcell{
						position:relative;
						margin: 0 auto;
						height: 60px;
						width: 180px;
						border: 2px solid black;
						padding:5%;
						margin-bottom: 40px;
						margin-top: 30px;
						background: white;

							.outline{
								position:relative;
								height:100%;
								background-color: gold;
								display: flex;
								justify-content: center;
								align-items: center;
								color: white;

							}
						}
					.balmod{
						position:  relative;
						height: 100px;
						width: 110px;
						margin: 0 auto;
						border: 2px solid black;
						padding: 5%;
						margin-bottom: 40px;
						background:white;

						.outline{
							position: relative;
							height: 100%;
							background-color: $col-grey;
							display: flex;
							justify-content: center;
							align-items: center;
							color: white;
						}
					}

					.pcb{
						position: relative;
						height: 100px;
						width: 150px;
						margin: 0 auto;
						border: 2px solid black;
						padding: 5%;
						margin-bottom: 40px;
						background:white;

						.outline{
							position: relative;
							height: 100%;
							background-color: $col-coral;
							display: flex;
							justify-content: center;
							align-items: center;
							color: white;
						}
					}

					.comm_link{
						position: relative;
						height: 100px;
						width: 90px;
						margin: 0 auto;
						border: 2px solid black;
						padding: 5%;
						margin-bottom: 40px;
						background:white;

						.outline{
							position: relative;
							height: 100%;
							background-color: $col-greener;
							display: flex;
							justify-content: center;
							align-items: center;
							color: white;
							font-size: xx-small;
						}
					}
				}
			}		
		}
	}

	.section2{
		float: right;
    	width: 25%;
		background-color: white;
		height:100%;
		
		.row1{
			position: relative;
			align-items: baseline; 
    		background-color: white;
			padding: 100px;
			padding-top: 200px;
			text-align: center;
			height: 60%;

			.wifi-logo{
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0 center;
			}
		}
	
		.row2{
			position: relative;
    		background-color: white;
			height: 40%;
			
			.comm_int{
				position: absolute;
				border: 2px solid black;
				margin: 10%;
				padding: 10%;
				height: 60%;
				width: 80%;

				.outline{
					position:  relative;
					background: $col-blue-light;
					height:100%;
					border: 0.1px solid black;
					text-align: center;
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;						
				}
			}	
		}
	}

	.overlay{
		position:absolute;
		width: 100%;
		height: 100%;
		margin-top: 0%;
		margin-bottom: 0%;
		#background: black;
		#opacity: .5;
		display: grid;
		grid-template-columns: repeat(128, 1fr);
		grid-template-rows: repeat(128, 1fr);

		$solidline : 3px solid black;
		$dashedline : 3px dashed black;
		.line[id = "1"]{
			border-bottom: $solidline;
			grid-column: 24 / span 16;
			grid-row: 34;
		}

		.line[id = "2"]{
			border-bottom: $solidline;
			grid-column: 58 / span 16;
			grid-row: 34;
		}

		.line[id = "3"]{
			border-bottom: $solidline;
			grid-column: 21 / span 22;
			grid-row: 54;
		}
		.line[id = "4"]{
			border-bottom: $solidline;
			grid-column: 55/ span 22;
			grid-row: 54;	
		}
		.line[id = "5"]{
			border-bottom: $solidline;
			grid-column: 23/ span 18;
			grid-row: 76;	
		}
		.line[id = "6"]{
			border-bottom: $solidline;
			grid-column: 57/ span 18;
			grid-row: 76;	
		}
		.line[id = "7"]{
			border-bottom: $dashedline;
			grid-column: 20/ span 24;
			grid-row: 99;	
		}
		.line[id = "8"]{
			border-bottom: $dashedline;
			grid-column: 54/ span 24;
			grid-row: 99;	
		}
		.line[id = "9"]{
			border-bottom: $dashedline;
			grid-column: 88/ span 12;
			grid-row: 99;	
		}
		.line[id = "10"]{
			border-right: $solidline;
			grid-column: 14;
			grid-row: 39/ span 7;	
		}
		.line[id = "11"]{
			border-right: $solidline;
			grid-column: 48;
			grid-row: 39/ span 7;	
		}
		.line[id = "12"]{
			border-right: $solidline;
			grid-column: 82;
			grid-row: 39/ span 7;	
		}
		.line[id = "13"]{
			border-right: $solidline;
			grid-column: 14;
			grid-row: 62/ span 7;	
		}
		.line[id = "14"]{
			border-right: $solidline;
			grid-column: 48;
			grid-row: 62/ span 7;	
		}
		.line[id = "15"]{
			border-right: $solidline;
			grid-column: 82;
			grid-row: 62/ span 7;	
		}
		.line[id = "16"]{
			border-right: $solidline;
			grid-column: 14;
			grid-row: 85/ span 7;	
		}
		.line[id = "17"]{
			border-right: $solidline;
			grid-column: 48;
			grid-row: 85/ span 7;	
		}
		.line[id = "18"]{
			border-right: $solidline;
			grid-column: 82;
			grid-row: 85/ span 7;	
		}
		.line[id = "19"]{
			border-left: $dashedline;
			grid-column: 113;
			grid-row: 66/ span 17;		
		}				
	}
}