main .pack {
  width: 100%;
  height: 80%;
  background: white;
}

main .pack .bal-container {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
}

main .pack .bal-container .bal-arrows {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 100%;
}

main .pack .bal-container .bal-arrows .start0 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

main .pack .bal-container .bal-arrows .start1 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

main .pack .bal-container .bal-arrows .start2 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

main .pack .bal-container .bal-arrows .start3 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

main .pack .bal-container .bal-arrows .end1 {
  grid-column-end: 4;
}

main .pack .bal-container .bal-arrows .end2 {
  grid-column-end: 6;
}

main .pack .bal-container .bal-arrows .end3 {
  grid-column-end: 8;
}

main .pack .bal-container .bal-arrows .end4 {
  grid-column-end: 10;
}

main .pack .bal-container .bal-arrows .arrow {
  position: relative;
  top: 50%;
  border-radius: 30px 30px 0 0;
  height: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #08c486), color-stop(50%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, #08c486), color-stop(50%, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(50%, #08c486), color-stop(50%, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(50%, #08c486), color-stop(50%, transparent));
  background: linear-gradient(90deg, #08c486 50%, transparent 50%), linear-gradient(90deg, #08c486 50%, transparent 50%), linear-gradient(0deg, #08c486 50%, transparent 50%), linear-gradient(0deg, #08c486 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 15px, 30px 15px, 15px 30px, 15px 30px;
  padding: 10px;
}

main .pack .bal-container .bal-arrows .arrow::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #08c486;
}

main .pack .bal-container .bal-arrows .right {
  -webkit-animation: border-dance-right 60s infinite linear;
          animation: border-dance-right 60s infinite linear;
}

main .pack .bal-container .bal-arrows .right::after {
  right: -12px;
  bottom: -20px;
}

@-webkit-keyframes border-dance-right {
  0% {
    background-position: 0px 0px, 100vw 200%, 0px 100vw, 100% 0px;
  }
  100% {
    background-position: 100vw 0px, 0px 200%, 0px 0px, 100% 100vw;
  }
}

@keyframes border-dance-right {
  0% {
    background-position: 0px 0px, 100vw 200%, 0px 100vw, 100% 0px;
  }
  100% {
    background-position: 100vw 0px, 0px 200%, 0px 0px, 100% 100vw;
  }
}

main .pack .bal-container .bal-arrows .left {
  -webkit-animation: border-dance-left 60s infinite linear;
          animation: border-dance-left 60s infinite linear;
}

main .pack .bal-container .bal-arrows .left::after {
  left: -12px;
  bottom: -20px;
}

@-webkit-keyframes border-dance-left {
  0% {
    background-position: 0px 0px, -100vw 200%, 0px -100vw, 100% 0px;
  }
  100% {
    background-position: -100vw 0px, 0px 200%, 0px 0px, 100% -100vw;
  }
}

@keyframes border-dance-left {
  0% {
    background-position: 0px 0px, -100vw 200%, 0px -100vw, 100% 0px;
  }
  100% {
    background-position: -100vw 0px, 0px 200%, 0px 0px, 100% -100vw;
  }
}

main .pack .bal-container .bal-blocks {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

main .pack .bal-container .bal-blocks .block {
  -webkit-animation: fade 1s;
  animation: fade 1s;
  opacity: 1;
}

main .pack .bal-container .bal-blocks .block::after {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  content: "x";
  color: #e77326;
  font-size: 10em;
  line-height: .7em;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main .pack .bal-container .bal-blocks .block0 {
  -ms-grid-column: 1;
  grid-column: 1;
}

main .pack .bal-container .bal-blocks .block1 {
  -ms-grid-column: 2;
  grid-column: 2;
}

main .pack .bal-container .bal-blocks .block2 {
  -ms-grid-column: 3;
  grid-column: 3;
}

main .pack .bal-container .bal-blocks .block3 {
  -ms-grid-column: 4;
  grid-column: 4;
}

main .pack .bal-container .bal-blocks .block4 {
  -ms-grid-column: 5;
  grid-column: 5;
}

main .pack .cell-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 80%;
}

main .pack .cell-container .cell {
  padding: 40px 20px;
}

main .pack .cell-container .cell .outline {
  position: relative;
  height: 100%;
  border: 2px solid black;
  margin: 0px 25px;
}

main .pack .cell-container .cell .outline::before {
  content: " ";
  position: absolute;
  margin: -15px 25%;
  background: black;
  width: 50%;
  height: 15px;
}

main .pack .cell-container .cell .outline::after {
  content: " ";
  position: absolute;
  bottom: 0;
  margin: -8px 10%;
  background: black;
  width: 80%;
  height: 8px;
}

main .pack .cell-container .cell .outline .soc {
  position: absolute;
  max-height: 100%;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 11;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

main .pack .cell-container .cell .outline .red {
  background: red;
}

main .pack .cell-container .cell .outline .yellow {
  background: yellow;
}

main .pack .cell-container .cell .outline .green {
  background: lime;
}

main .pack .cell-container .cell .outline .info {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin-top: 80%;
  vertical-align: middle;
  z-index: 15;
  background: rgba(60, 60, 60, 0.5);
  line-height: .5em;
  font-weight: 600;
  color: white;
}

main .toggle-listening:before,
main .toggle-balancing:before {
  content: "Enable ";
}

main .active {
  background: #e77326;
  -webkit-transition: 200ms;
  transition: 200ms;
}

main .active:before {
  content: "Disable ";
}

.info-container {
  position: absolute;
  display: inline-block;
  left: 100%;
  width: 100%;
  color: white;
  padding: 50px 70px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.info-container h1 {
  font-size: 2.5em;
}

.info-container .chart-container {
  display: block;
  position: relative;
  width: 100%;
  height: 180px;
  margin: 10px 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-container .chart-container .value {
  position: relative;
  float: left;
  width: 20%;
  vertical-align: top;
  padding: 0 15px;
}

.info-container .chart-container .value h2 {
  opacity: .8;
  margin: 0;
  padding: 20px 0 10px;
  font-weight: 300;
  font-size: 20px;
}

.info-container .chart-container .value span {
  font-size: 32px;
  font-weight: 600;
}

.info-container .chart-container .cell-chart {
  position: relative;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70% !important;
  height: 100% !important;
}
/*# sourceMappingURL=styles_pack.css.map */