main {
  position: relative;
}

main .chart-container {
  display: block;
  position: relative;
  width: 100%;
  height: 90%;
}

main button {
  min-width: 150px;
}

main #log-btn {
  background: #08c486;
}

main .action-button {
  background: grey;
}

main .active {
  background: #e77326;
}

main .toggle-balancing {
  min-width: 250px;
}

main .toggle-balancing:before {
  content: "Enable ";
}

main .toggle-active {
  background: #e77326;
  -webkit-transition: 200ms;
  transition: 200ms;
}

main .toggle-active:before {
  content: "Disable ";
}
/*# sourceMappingURL=styles_chart.css.map */