html {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
div,
p,
span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Arial", "Helvetica", sans-serif;
}

body {
  position: relative;
  margin: 0;
  width: 1440px;
  height: 950px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 40px;
  font-family: "Arial", "Helvetica", sans-serif;
}

body header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
}

body header .headline {
  height: 100%;
  margin-left: 60px;
  margin-top: 50px;
  display: inline-block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 3em;
  text-align: center;
}

body header .logo-link {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 250px;
  height: 50px;
}

body header .logo-link .logo {
  background: url(../img/TUMCREATE_Logo_Color.png) bottom no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

body nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  display: inline-block;
}

body nav .nav-arrow {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

body nav .nav-arrow a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 15;
}

body nav .nav-arrow a div {
  position: relative;
  width: 30%;
  height: 30%;
  border-top: 8px solid #0075bd;
  border-right: 8px solid #0075bd;
  margin: 30% 30%;
}

body nav .left a div {
  -webkit-transform: translateX(6px) rotate(-135deg);
          transform: translateX(6px) rotate(-135deg);
}

body nav .right {
  float: right;
}

body nav .right a div {
  -webkit-transform: translateX(-6px) rotate(45deg);
          transform: translateX(-6px) rotate(45deg);
}

body main {
  margin: 0 60px;
  min-width: 1240px;
  max-width: 1240px;
  height: 780px;
}

body .overlay-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 25;
  left: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
}

body .overlay-view .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  cursor: pointer;
}

body .overlay-view .info-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: #0075bd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px, rgba(25, 25, 25, 0.5) 0px 0px 35px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px, rgba(25, 25, 25, 0.5) 0px 0px 35px;
}

body .active {
  left: 0 !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button {
  display: inline-block;
  min-width: 250px;
  min-height: 100px;
  margin: 10px;
  border: none;
  background: #0075bd;
  text-align: center;
  color: white;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: gray 0px 0px 7px;
          box-shadow: gray 0px 0px 7px;
}

button:hover {
  -webkit-box-shadow: gray 0px 0px 10px, gray 2px 2px 5px;
          box-shadow: gray 0px 0px 10px, gray 2px 2px 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
/*# sourceMappingURL=styles.css.map */