@import "_variables.scss";

main {
    position: relative;

    .chart-container {
        display: block;
        position: relative;
        width: 100%;
        height: 90%;
    }

    button {
        min-width: 150px;
    }

    #log-btn {
        background: $col-green;
    }

    .action-button {
        background: $col-grey;
    }

    .active {
        background: $col-orange;
    }

    .toggle-balancing {
        min-width: 250px;

        &:before {
            content: "Enable ";
        }
    }

    .toggle-active {
        background: $col-orange;
        transition: 200ms;

        &:before {
            content: "Disable ";
        }
    }
}