html {
  overflow: hidden;
}

header .headline {
  margin-left: 60px;
  font-weight: 600;
}

main .img-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/180821_ESTL_14_SmartCellPlatformDemonstrator_V02.png") center no-repeat;
  background-size: contain;
  z-index: -1;
}

body nav .nav-arrow a div {
  border-top: 8px solid white;
  border-right: 8px solid white;
}
/*# sourceMappingURL=styles_overview.css.map */