@import "_variables.scss";

main {
    .pack {

        width: 100%;
        height: 80%;
        background: $col-bg;

        .bal-container {
            position: relative;
            display: block;
            width: 100%;
            height: 150px;

            .bal-arrows {
                position: absolute;
                display: grid;
                grid-template-columns: repeat(10, 1fr);


                width: 100%;
                height: 100%;

                .start0 {
                    grid-column-start: 2;
                }

                .start1 {
                    grid-column-start: 4;
                }

                .start2 {
                    grid-column-start: 6;
                }

                .start3 {
                    grid-column-start: 8;
                }

                .end1 {
                    grid-column-end: 4;
                }

                .end2 {
                    grid-column-end: 6;
                }

                .end3 {
                    grid-column-end: 8;
                }

                .end4 {
                    grid-column-end: 10;
                }

                .arrow {

                    position: relative;
                    top: 50%;
                    border-radius: 30px 30px 0 0;
                    height: 50%;

                    background: linear-gradient(90deg, $col-green 50%, transparent 50%), linear-gradient(90deg, $col-green 50%, transparent 50%), linear-gradient(0deg, $col-green 50%, transparent 50%), linear-gradient(0deg, $col-green 50%, transparent 50%);
                    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                    background-size: 30px 15px, 30px 15px, 15px 30px, 15px 30px;

                    padding: 10px;


                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        // background: purple;
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid $col-arrows;
                    }
                }

                .right {
                    &::after {
                        right: -12px;
                        bottom: -20px;
                    }

                    animation: border-dance-right 60s infinite linear;

                    @keyframes border-dance-right {
                        0% {
                            background-position: 0px 0px, 100vw 200%, 0px 100vw, 100% 0px;
                        }

                        100% {
                            background-position: 100vw 0px, 0px 200%, 0px 0px, 100% 100vw;
                        }
                    }
                }

                .left {
                    &::after {
                        left: -12px;
                        bottom: -20px;
                    }

                    animation: border-dance-left 60s infinite linear;

                    @keyframes border-dance-left {
                        0% {
                            background-position: 0px 0px, -100vw 200%, 0px -100vw, 100% 0px;
                        }

                        100% {
                            background-position: -100vw 0px, 0px 200%, 0px 0px, 100% -100vw;
                        }
                    }
                }
            }

            .bal-blocks {
                position: absolute;
                width: 100%;
                height: 50%;
                top: 25%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                .block {
                    &::after {
                        display: block;
                        position: relative;
                        width: 100%;
                        text-align: center;
                        content: "x";
                        color: $col-orange;
                        font-size: 10em;
                        line-height: .7em;
                    }

                    // transition: opacity 2s;
                    -webkit-animation: fade 1s;
                    animation: fade 1s;
                    opacity: 1;

                    @-webkit-keyframes fade {
                        from {
                            opacity: 0
                        }

                        to {
                            opacity: 1
                        }
                    }

                    @keyframes fade {
                        from {
                            opacity: 0
                        }

                        to {
                            opacity: 1
                        }
                    }
                }

                .block0 {
                    grid-column: 1;
                }

                .block1 {
                    grid-column: 2;
                }

                .block2 {
                    grid-column: 3;
                }

                .block3 {
                    grid-column: 4;
                }

                .block4 {
                    grid-column: 5;
                }
            }
        }

        .cell-container {
            position: relative;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
            height: 80%;

            .cell {
                padding: 40px 20px;

                .outline {
                    position: relative;
                    // max-width:200px;
                    // min-width:150px;
                    height: 100%;
                    border: 2px solid black;
                    margin: 0px 25px;

                    &::before {
                        //top contact
                        content: " ";
                        position: absolute;
                        margin: -15px 25%;
                        background: black;
                        // background: linear-gradient(to right, rgb(39, 39, 39), gray 20%,  white 70%, gray 95%, black);
                        width: 50%;
                        height: 15px;
                    }

                    &::after {
                        //bottom contact
                        content: " ";
                        position: absolute;
                        bottom: 0;
                        margin: -8px 10%;
                        background: black;
                        width: 80%;
                        height: 8px;
                    }

                    .soc {
                        position: absolute;
                        max-height: 100%;
                        height: 100%;
                        width: 100%;
                        // background: $col-orange;
                        bottom: 0;
                        z-index: 11;
                        transition: 500ms ease-in-out;
                    }

                    .red {
                        background: red;
                    }

                    .yellow {
                        background: yellow;
                    }

                    .green {
                        background: lime;

                    }

                    .info {
                        position: relative;
                        text-align: center;
                        width: 100%;
                        // height: 100%;
                        padding: 10px 0;
                        margin-top: 80%;
                        vertical-align: middle;
                        z-index: 15;
                        background: rgba(60, 60, 60, .5);
                        line-height: .5em;
                        font-weight: 600;
                        color: $col-text-light;
                    }
                }
            }
        }
    }



    .toggle-listening,
    .toggle-balancing {
        &:before {
            content: "Enable ";
        }
    }

    .active {
        background: $col-orange;
        transition: 200ms;

        &:before {
            content: "Disable ";
        }
    }
}

.info-container {
    position: absolute;
    display: inline-block;
    // opacity: 0;
    left: 100%;
    width: 100%;
    color: $col-text-light;
    padding: 50px 70px;
    transition: 500ms;

    h1 {
        font-size: 2.5em;
    }

    .chart-container {
        display: block;
        position: relative;

        width: 100%;
        height: 180px;

        margin: 10px 0;
        font-size: 0; //to make the inline-block whitespace go away

        box-sizing: border-box;
        // border: 1px solid $col-bg;

        .value {
            position: relative;
            float: left;
            width: 20%;
            vertical-align: top;
            padding: 0 15px;

            h2 {
                opacity: .8;
                margin: 0;
                padding: 20px 0 10px;
                font-weight: 300;
                font-size: 20px;
            }

            span {
                font-size: 32px;
                // opacity: ;
                font-weight: 600;
            }
        }

        .cell-chart {

            position: relative;
            float: right;
            box-sizing: border-box;
            width: 70% !important;
            height: 100% !important;
        }
    }
}