main {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

main .text-block {
  position: relative;
  padding: 100px 20px;
}

main .text-block h1 {
  font-size: 1.6em;
}

main .papers p {
  font-size: 1.2em;
}

main .papers p .authors::after {
  content: ',';
}

main .papers p .title {
  font-style: italic;
  font-size: 1em;
}

main .contributions .profile {
  font-size: 1.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  grid-gap: 10px;
  height: 50px;
  margin-bottom: 10px;
  line-height: 1.2em;
}

main .contributions .profile .pic {
  background: gray;
}

main .contributions .profile .desc {
  vertical-align: center;
}

main .contributions .profile .desc .name {
  font-weight: 600;
}

main .contributions .profile .desc .name::after {
  content: ' (ESTL),';
}

main .contributions .profile .desc .position {
  font-size: .8em;
}

main .contributions .profile .desc .role {
  font-size: .9em;
}

main .contributions #lamprecht .pic {
  background: url("../img/lamprecht.jpg") center no-repeat;
  background-size: contain;
}

main .contributions #gaba .pic {
  background: url("../img/gaba.jpg") center no-repeat;
  background-size: contain;
}

main .contributions #roetzer .pic {
  background: url("../img/roetzer.jpg") center no-repeat;
  background-size: contain;
}

main .acknowledgement {
  position: absolute;
  bottom: 20px;
  width: 60%;
  margin-top: 200px;
}

main .acknowledgement .text h3 {
  padding: 0 20px;
  margin: 0;
}

main .acknowledgement .text p {
  padding: 5px 20px;
  margin: 0;
}

main .logos {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 60px;
  float: right;
}

main .logos .ntu {
  float: right;
  background: url("../img/logo_ntu.png") right no-repeat;
  background-size: contain;
  height: 100%;
  width: 180px;
}

main .logos .tum {
  float: right;
  background: url("../img/logo_tum.png") center no-repeat;
  background-size: contain;
  height: 100%;
  width: 180px;
  margin-left: 30px;
  margin-right: -50px;
}
/*# sourceMappingURL=styles_acknowledgement.css.map */