@import "_variables.scss";

html {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    // overflow: hidden;
}

a,
div,
p,
span {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: $font-sans;
}

body {
    position: relative;
    margin: 0;
    // width: 100%;
    // height: 100%;
    width: 1440px;
    height: 950px;
    box-sizing: border-box;
    padding: 20px 40px;
    font-family: $font-sans;
    // overflow: hidden;

    header {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        margin-bottom: 30px;

        .headline {
            height: 100%;
            margin-left: 60px;
            margin-top: 50px;
            display: inline-block;
            font-family: $font-sans;
            font-size: 3em;
            text-align: center;
        }

        .logo-link {
            display: inline-block;
            position: absolute;
            right: 0;
            width: 250px;
            height: 50px;

            .logo {
                background: url(../img/TUMCREATE_Logo_Color.png) bottom no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

    nav {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 100%;
        display: inline-block;


        .nav-arrow {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin: 10px;

            width: 100px;
            height: 100px;

            // border: 4px solid $col-blue;
            border-radius: 50%;

            a {
                display: inline-block;
                position: relative;
                width: 100%;
                height: 100%;

                z-index: 15;

                div {
                    position: relative;
                    width: 30%;
                    height: 30%;
                    border-top: 8px solid $col-blue;
                    border-right: 8px solid $col-blue;

                    margin: 30% 30%;
                }
            }
        }

        .left {
            a {
                div {
                    transform: translateX(6px) rotate(-135deg);
                }
            }
        }

        .right {
            float: right;

            a {
                div {
                    transform: translateX(-6px) rotate(45deg);
                }
            }
        }
    }

    main {
        margin: 0 60px;
        min-width: 1240px;
        max-width: 1240px;
        height: 780px;
        // background: $col-blue-lighter;
    }

    .overlay-view {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 25;
        left: 100%;
        transition: 500ms;

        // display: none;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            opacity: .5;
            cursor: pointer;
        }

        .info-bg {
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0;
            background: $col-blue;
            box-shadow: rgba(0, 0, 0, .2) 0px 0px 7px, rgba(25, 25, 25, .5) 0px 0px 35px;

        }

    }

    .active {
        left: 0 !important;
        transition: 500ms;
    }
}

button {
    display: inline-block;
    min-width: 250px;
    min-height: 100px;
    margin: 10px;
    border: none;
    background: $col-blue;
    text-align: center;
    color: $col-text-light;
    font-family: $font-sans;
    font-size: 1.5em;
    cursor: pointer;
    transition: 200ms;
    box-shadow: $col-shadow 0px 0px 7px;

    &:hover {
        box-shadow: $col-shadow 0px 0px 10px, $col-shadow 2px 2px 5px;
        transition: 200ms;
    }
}